In [1]:
import numpy as np # linear algebra
import pandas as pd

In [2]:
print('Loading init weather data...')
# load and concatenate weather data
weather_dtypes = {
    'site_id': np.uint8,
    'air_temperature': np.float32,
    'cloud_coverage': np.float32,
    'dew_temperature': np.float32,
    'precip_depth_1_hr': np.float32,
    'sea_level_pressure': np.float32,
    'wind_direction': np.float32,
    'wind_speed': np.float32,
}

weather_train = pd.read_csv(
    'weather_train.csv',
    dtype=weather_dtypes,
    parse_dates=['timestamp']
)
weather_test = pd.read_csv(
    'weather_test.csv',
    dtype=weather_dtypes,
    parse_dates=['timestamp']
)

weather = pd.concat(
    [
        weather_train,
        weather_test
    ],
    ignore_index=True
)
# del redundant dfs
del weather_train, weather_test

weather.head()

Loading init weather data...

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.000000,6.0,20.0,NaN,1019.700012,0.0,0.0
1,0,2016-01-01 01:00:00,24.400000,NaN,21.1,-1.0,1020.200012,70.0,1.5
2,0,2016-01-01 02:00:00,22.799999,2.0,21.1,0.0,1020.200012,0.0,0.0
3,0,2016-01-01 03:00:00,21.100000,2.0,20.6,0.0,1020.099976,0.0,0.0
4,0,2016-01-01 04:00:00,20.000000,2.0,20.0,-1.0,1020.000000,250.0,2.6

In [3]:
weather_key = ['site_id', 'timestamp']
temp_skeleton = weather[weather_key + ['air_temperature']]\
.drop_duplicates(subset=weather_key).sort_values(by=weather_key).copy()
# check sample
temp_skeleton.head()

   site_id           timestamp  air_temperature
0        0 2016-01-01 00:00:00        25.000000
1        0 2016-01-01 01:00:00        24.400000
2        0 2016-01-01 02:00:00        22.799999
3        0 2016-01-01 03:00:00        21.100000
4        0 2016-01-01 04:00:00        20.000000

In [5]:
# calculate ranks of hourly temperatures within date/site_id chunks
temp_skeleton['temp_rank'] = temp_skeleton.groupby(
    ['site_id', temp_skeleton.timestamp.dt.date],
)['air_temperature'].rank('average')
temp_skeleton

        site_id           timestamp  air_temperature  temp_rank
0             0 2016-01-01 00:00:00        25.000000       16.0
1             0 2016-01-01 01:00:00        24.400000       15.0
2             0 2016-01-01 02:00:00        22.799999       13.0
3             0 2016-01-01 03:00:00        21.100000        9.0
4             0 2016-01-01 04:00:00        20.000000        3.5
5             0 2016-01-01 05:00:00        19.400000        2.0
6             0 2016-01-01 06:00:00        21.100000        9.0
7             0 2016-01-01 07:00:00        21.100000        9.0
8             0 2016-01-01 08:00:00        20.600000        5.5
9             0 2016-01-01 09:00:00        21.100000        9.0
10            0 2016-01-01 10:00:00        21.100000        9.0
11            0 2016-01-01 11:00:00        20.600000        5.5
12            0 2016-01-01 12:00:00        18.900000        1.0
13            0 2016-01-01 13:00:00        20.000000        3.5
14            0 2016-01-01 14:00:00        21.700001       12.0
15            0 2016-01-01 15:00:00        23.900000       14.0
16            0 2016-01-01 16:00:00        26.100000       18.0
17            0 2016-01-01 17:00:00        26.700001       19.5
18            0 2016-01-01 18:00:00        27.799999       21.5
19            0 2016-01-01 19:00:00        28.299999       23.5
20            0 2016-01-01 20:00:00        28.299999       23.5
21            0 2016-01-01 21:00:00        27.799999       21.5
22            0 2016-01-01 22:00:00        26.700001       19.5
23            0 2016-01-01 23:00:00        25.600000       17.0
24            0 2016-01-02 00:00:00        24.400000       24.0
25            0 2016-01-02 01:00:00        23.900000       23.0
26            0 2016-01-02 02:00:00        22.200001       20.5
27            0 2016-01-02 03:00:00        21.100000       18.5
28            0 2016-01-02 04:00:00        20.600000       16.5
29            0 2016-01-02 05:00:00        19.400000       13.5
...         ...                 ...              ...        ...
416986       15 2018-12-30 18:00:00         1.100000       22.5
416987       15 2018-12-30 19:00:00         1.100000       22.5
416988       15 2018-12-30 20:00:00         1.100000       22.5
416989       15 2018-12-30 21:00:00         1.100000       22.5
416990       15 2018-12-30 22:00:00         0.600000       19.5
416991       15 2018-12-30 23:00:00         0.000000       17.5
416992       15 2018-12-31 00:00:00        -1.100000       13.5
416993       15 2018-12-31 01:00:00        -1.100000       13.5
416994       15 2018-12-31 02:00:00        -1.700000       11.0
416995       15 2018-12-31 03:00:00        -2.200000        8.0
416996       15 2018-12-31 04:00:00        -1.700000       11.0
416997       15 2018-12-31 05:00:00        -1.700000       11.0
416998       15 2018-12-31 06:00:00        -2.200000        8.0
416999       15 2018-12-31 07:00:00        -2.200000        8.0
417000       15 2018-12-31 08:00:00        -3.900000        3.5
417001       15 2018-12-31 09:00:00        -3.300000        5.0
417002       15 2018-12-31 10:00:00        -4.400000        1.5
417003       15 2018-12-31 11:00:00        -4.400000        1.5
417004       15 2018-12-31 12:00:00        -3.900000        3.5
417005       15 2018-12-31 13:00:00        -2.800000        6.0
417006       15 2018-12-31 14:00:00         0.000000       15.0
417007       15 2018-12-31 15:00:00         1.100000       16.0
417008       15 2018-12-31 16:00:00         1.700000       17.0
417009       15 2018-12-31 17:00:00         2.200000       18.0
417010       15 2018-12-31 18:00:00         2.800000       20.5
417011       15 2018-12-31 19:00:00         3.300000       23.5
417012       15 2018-12-31 20:00:00         2.800000       20.5
417013       15 2018-12-31 21:00:00         2.800000       20.5
417014       15 2018-12-31 22:00:00         2.800000       20.5
417015       15 2018-12-31 23:00:00         3.300000       23.5

[417016 rows x 4 columns]

In [13]:
# create 2D dataframe of site_ids (0-16) x mean hour rank of temperature within day (0-23)
df_2d = temp_skeleton.groupby(
    ['site_id', temp_skeleton.timestamp.dt.hour]
)['temp_rank'].mean().unstack(level=1)
df_2d

timestamp,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
site_id,,,,,,,,,,,,,,,,,,,,,
0,15.123175,13.351277,11.868157,10.541971,9.299270,7.907391,6.897354,5.782847,5.042922,4.430594,...,14.081661,16.429745,18.217609,19.564325,20.555201,21.162409,21.013686,19.938412,18.085310,15.528741
1,8.950691,7.786636,6.781049,5.786175,5.062557,4.993560,5.914443,7.679853,9.504604,12.055249,...,21.207948,21.104533,20.023105,18.373728,16.498612,14.616913,12.806377,11.278855,9.765869,8.133180
2,21.754562,20.260493,18.296804,16.325730,14.544252,12.886405,11.361314,10.010036,8.574361,7.144617,...,2.723084,5.034672,8.709398,11.976277,14.525091,16.870894,18.868613,20.568493,21.755474,22.093978
3,16.497715,14.732176,13.162409,11.897717,10.696347,9.474406,8.282192,7.164384,6.184307,5.220347,...,11.579836,13.933850,15.972172,17.749088,19.243613,20.200274,20.352511,19.704566,17.960310,15.894521
4,20.952425,19.079836,16.622719,14.306569,12.331661,10.831661,9.597628,8.402372,7.549360,6.820255,...,4.696624,6.607664,9.773266,13.172445,15.905566,18.035584,19.823449,21.186588,21.803832,21.501369
5,9.062095,8.491220,7.997692,7.461716,6.926199,6.691705,7.049815,8.276959,9.910978,12.172509,...,20.143514,19.839649,18.599537,17.022706,15.252089,13.423006,11.604898,10.344588,9.551105,8.967281
6,16.386093,14.572536,13.068431,11.704296,10.390768,9.168037,7.946527,6.844607,5.966667,5.209324,...,11.722831,14.281279,16.205936,17.940693,19.468037,20.508219,20.876832,20.161792,18.289954,15.754338
7,16.195570,14.469885,12.982364,11.843602,10.484630,9.453200,8.366509,7.306775,6.379278,5.549575,...,11.145793,13.195714,15.047115,16.580676,18.130332,19.243528,19.773206,19.385052,17.969466,16.013889
8,15.123175,13.351277,11.868157,10.541971,9.299270,7.907391,6.897354,5.782847,5.042922,4.430594,...,14.081661,16.429745,18.217609,19.564325,20.555201,21.162409,21.013686,19.938412,18.085310,15.528741
9,18.589450,16.621448,14.826782,13.238792,11.761208,10.164070,8.882218,7.735564,6.739011,5.807234,...,7.534435,10.868253,13.605215,15.813645,17.589532,19.251148,20.596612,21.238813,20.977106,19.257770
10,19.833943,18.026916,15.886405,13.728728,12.148352,10.990367,9.874885,8.912764,7.842057,7.080275,...,5.344749,8.211609,11.461152,14.286953,16.489945,17.999085,19.341553,20.378193,20.911335,20.684475
11,16.195570,14.469885,12.982364,11.843602,10.484630,9.453200,8.366509,7.306775,6.379278,5.549575,...,11.145793,13.195714,15.047115,16.580676,18.130332,19.243528,19.773206,19.385052,17.969466,16.013889
12,9.016144,8.382028,7.802583,7.184502,6.728361,6.709945,7.280645,8.652394,10.211255,12.361546,...,20.396044,20.192166,19.043779,17.363090,15.328717,13.261795,11.313019,9.996768,8.980663,8.076498
13,18.211679,16.791515,15.217609,13.972628,12.582117,11.224453,9.950730,8.839416,7.578011,6.510949,...,7.815693,10.343379,12.847172,15.010493,16.786953,18.267123,19.361770,19.755474,19.363139,18.001825
14,16.306496,14.415602,12.852190,11.371350,10.162409,9.038356,7.989031,6.960274,6.101463,5.194064,...,12.062500,14.328923,16.165146,17.854927,19.372146,20.191781,20.439325,19.813412,18.030566,15.617701
15,14.626500,12.786111,11.483841,10.697368,9.906551,9.107074,8.331061,7.715332,7.095652,6.524108,...,12.262190,14.244710,15.789062,17.093750,18.170037,18.806985,18.924424,18.227231,16.329963,14.066359

In [14]:
# align scale, so each value within row is in [0,1] range
df_2d = df_2d / df_2d.max(axis=1).values.reshape((-1,1))  
df_2d

timestamp,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
site_id,,,,,,,,,,,,,,,,,,,,,
0,0.714624,0.630896,0.560813,0.498146,0.439424,0.373653,0.325925,0.273260,0.238296,0.209361,...,0.665409,0.776365,0.860848,0.924485,0.971307,1.000000,0.992972,0.942162,0.854596,0.733789
1,0.422044,0.367156,0.319741,0.272830,0.238710,0.235457,0.278879,0.362121,0.448162,0.568431,...,1.000000,0.995124,0.944132,0.866360,0.777945,0.689219,0.603848,0.531822,0.460482,0.383497
2,0.984638,0.917014,0.828135,0.738922,0.658290,0.583254,0.514227,0.453066,0.388086,0.323374,...,0.123250,0.227875,0.394198,0.542061,0.657423,0.763597,0.854016,0.930955,0.984679,1.000000
3,0.810598,0.723850,0.646722,0.584582,0.525554,0.465515,0.406937,0.352015,0.303860,0.256496,...,0.568963,0.684626,0.784776,0.872083,0.945515,0.992520,1.000000,0.968164,0.882462,0.780961
4,0.960951,0.875068,0.762376,0.656149,0.565573,0.496778,0.440181,0.385362,0.346240,0.312801,...,0.215404,0.303051,0.448236,0.604134,0.729485,0.827175,0.909173,0.971691,1.000000,0.986128
5,0.449877,0.421536,0.397036,0.370428,0.343843,0.332201,0.349979,0.410899,0.492018,0.604289,...,1.000000,0.984915,0.923351,0.845071,0.757171,0.666369,0.576111,0.513544,0.474153,0.445170
6,0.784894,0.698024,0.625978,0.560636,0.497718,0.439149,0.380639,0.327857,0.285803,0.249527,...,0.561523,0.684073,0.776264,0.859359,0.932519,0.982343,1.000000,0.965750,0.876089,0.754633
7,0.819066,0.731793,0.656563,0.598972,0.530244,0.478081,0.423124,0.369529,0.322622,0.280661,...,0.563682,0.667353,0.760985,0.838543,0.916914,0.973212,1.000000,0.980370,0.908779,0.809878
8,0.714624,0.630896,0.560813,0.498146,0.439424,0.373653,0.325925,0.273260,0.238296,0.209361,...,0.665409,0.776365,0.860848,0.924485,0.971307,1.000000,0.992972,0.942162,0.854596,0.733789
9,0.875258,0.782598,0.698098,0.623330,0.553760,0.478561,0.418207,0.364218,0.317297,0.273426,...,0.354748,0.511717,0.640583,0.744563,0.828179,0.906414,0.969763,1.000000,0.987678,0.906725
10,0.948478,0.862064,0.759703,0.656521,0.580946,0.525570,0.472226,0.426217,0.375015,0.338586,...,0.255591,0.392687,0.548083,0.683216,0.788565,0.860733,0.924932,0.974505,1.000000,0.989151
11,0.819066,0.731793,0.656563,0.598972,0.530244,0.478081,0.423124,0.369529,0.322622,0.280661,...,0.563682,0.667353,0.760985,0.838543,0.916914,0.973212,1.000000,0.980370,0.908779,0.809878
12,0.442054,0.410963,0.382554,0.352250,0.329886,0.328983,0.356964,0.424219,0.500649,0.606076,...,1.000000,0.990004,0.933700,0.851297,0.751553,0.650214,0.554667,0.490133,0.440314,0.395984
13,0.921855,0.849968,0.770298,0.707279,0.636893,0.568169,0.503695,0.447441,0.383590,0.329577,...,0.395622,0.523570,0.650309,0.759814,0.849737,0.924661,0.980071,1.000000,0.980140,0.911232
14,0.797800,0.705288,0.628797,0.556347,0.497199,0.442204,0.390866,0.340533,0.298516,0.254121,...,0.590161,0.701047,0.790885,0.873558,0.947788,0.987889,1.000000,0.969377,0.882151,0.764101
15,0.772890,0.675641,0.606826,0.565268,0.523480,0.481234,0.440228,0.407692,0.374947,0.344745,...,0.647956,0.752716,0.834322,0.903264,0.960137,0.993794,1.000000,0.963159,0.862904,0.743291

In [15]:
# sort by 'closeness' of hour with the highest temperature
site_ids_argmax_maxtemp = pd.Series(np.argmax(df_2d.values, axis=1)).sort_values().index
site_ids_argmax_maxtemp

Int64Index([1, 5, 12, 0, 8, 3, 6, 7, 11, 14, 15, 9, 13, 4, 10, 2], dtype='int64')

In [25]:
# assuming (1,5,12) tuple has the most correct temp peaks at 14:00
site_ids_offsets = pd.Series(df_2d.values.argmax(axis=1) - 14)
site_ids_offsets

0     5
1     0
2     9
3     6
4     8
5     0
6     6
7     6
8     5
9     7
10    8
11    6
12    0
13    7
14    6
15    6
dtype: int64

In [24]:
df_2d.values.argmax(axis=1)

array([19, 14, 23, 20, 22, 14, 20, 20, 19, 21, 22, 20, 14, 21, 20, 20],
      dtype=int64)

In [27]:
temp_skeleton['offset'] = temp_skeleton.site_id.map(site_ids_offsets)

# add offset
temp_skeleton['timestamp_aligned'] = (
    temp_skeleton.timestamp 
    - pd.to_timedelta(temp_skeleton.offset, unit='H')
)

temp_skeleton.head()

,site_id,timestamp,air_temperature,temp_rank,offset,timestamp_aligned
0,0,2016-01-01 00:00:00,25.000000,16.0,5,2015-12-31 19:00:00
1,0,2016-01-01 01:00:00,24.400000,15.0,5,2015-12-31 20:00:00
2,0,2016-01-01 02:00:00,22.799999,13.0,5,2015-12-31 21:00:00
3,0,2016-01-01 03:00:00,21.100000,9.0,5,2015-12-31 22:00:00
4,0,2016-01-01 04:00:00,20.000000,3.5,5,2015-12-31 23:00:00

In [28]:
temp_skeleton.to_csv('temp_skeleton.csv',index=False)